# https://prettier.io/docs/en/ignore.html

# FOLDERS ###############################

.github/
.husky/
.vscode/
build/
dist/
docs/
ignore/
node_modules/
# scripts
# src
# tests

# FILES #################################

.czrc
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
.lintstagedrc
.npmignore
.prettierignore
.prettierrc.json
commitlint.config.js
jest.config.js
LICENSE
package.json
README.md
release.config.js
tsconfig.json

package-lock.json
pnpm-lock.yaml
yarn.lock
