name: 'node.js CI-CD'

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened]

permissions:
  contents: write
  issues: write
  pull-requests: write

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  MOVE_TO_PROJEC_TOKEN: ${{ secrets.MOVE_TO_PROJEC_TOKEN }}

jobs:
  nodejs-ci:
    runs-on: ubuntu-latest
    steps:
    - name: 1 - checkout the repository
      uses: actions/checkout@v3

    - name: 2 - Use Node.js 20.8.1
      uses: actions/setup-node@v3
      with:
        node-version: 20.8.1

    - name: 3 - install dependencies
      run: npm install

    - name: 4 - build package
      run: npm run build

    - name: 5 - run tests
      run: npm run test

    - name: 6 - deploy package to npm
      if: ${{ github.ref == 'refs/heads/master' }}
      run: HUSKY=0 npm run pub
